<html>

  <head>
    <link rel="stylesheet" href="/static/css/styles.css">
  </head>


  <body>

    <header class="page-header">

        <span class="logo">MessageBoard</span>

        <nav class="main-navigation">
          <a href="/">Home</a>
          <a href="/new-message">New Message</a>
        </nav>

        <div class="user-info">
            <a href="/sign-out">Sign out</a>
            <a href="/sign-in">Sign in</a>
        </div>

    </header>


    <section class="page-content">

    {% block content %}{% endblock %}

    </section>
    
  </body>

</html>